basest==0.7.3
celery==5.3.4
flask==3.0.0
flask-admin==1.6.1
flask-migrate==4.0.5
flask-sqlalchemy==3.1.1
gunicorn==21.2.0
httpx==0.25.0
opensearch-py==2.3.2
pg8000==1.30.2
pymmh3==0.0.5
sqlalchemy==2.0.22
tld==0.13
