basest==0.7.3
celery==5.2.7
elasticsearch<7.14.0
flask==2.3.2
flask-admin==1.6.1
flask-migrate==4.0.4
flask-sqlalchemy==3.0.3
gunicorn==20.1.0
httpx==0.24.1
pg8000==1.29.5
pymmh3==0.0.5
sqlalchemy==2.0.15
tld==0.13
