basest==0.7.3
celery==5.3.1
elasticsearch<7.14.0
flask==2.3.2
flask-admin==1.6.1
flask-migrate==4.0.4
flask-sqlalchemy==3.0.5
gunicorn==21.0.1
httpx==0.24.1
pg8000==1.29.8
pymmh3==0.0.5
sqlalchemy==2.0.19
tld==0.13
