#meal-planner .hints {
  font-size: 11px;
  color: dimgray;
  margin-bottom: 1rem;
}

#meal-planner .recipes {
  margin-bottom: 1rem;
  padding: 4px;
}

#meal-planner .recipe {
  font-size: 13px;
}

#meal-planner a {
  color: inherit;
  text-decoration: inherit;
}

#meal-planner .recipe a.remove {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-right: 0.5em;
}
#meal-planner .scheduler .recipe a.remove {
  visibility: hidden;
  width: 0;
  margin: 0;
}
#meal-planner .sortable-drag a.remove {
  visibility: hidden;
}

#meal-planner .recipe span[data-role="remove"]::after {
  color: red;
  content: '\00D7';
}
#meal-planner .recipe span[data-role="remove"] {
  visibility: hidden;
  float: right;
  vertical-align: middle;
  font-weight: bold;
}
#meal-planner .scheduler .recipe span[data-role="remove"] {
  visibility: visible;
  padding-left: 12px;
}
#meal-planner .sortable-drag span[data-role="remove"] {
  visibility: hidden;
}

#meal-planner .scheduler {
  width: 100%;
  height: calc(80vh);
  border: solid 2px silver;
}

#meal-planner .scheduler th {
  width: 96px;
  height: calc(15vh);

  padding: 12px;
  border-top: solid 1px silver;
  border-right: solid 1px #f0d0d0;

  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

#meal-planner .scheduler td {
  padding: 12px;
  border-top: solid 1px silver;

  vertical-align: top;
  text-align: left;
}

#meal-planner .scheduler tr.weekday-6,
#meal-planner .scheduler tr.weekday-0 {
  background-color: beige;
}
