#search-form div.prompt {
  margin: 1rem;
  margin-left: 2rem;
}
#search-form div.prompt span.positive { color: green; }
#search-form div.prompt span.negative { color: maroon; }

.bootstrap-tagsinput {
  border: none;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.bootstrap-tagsinput input {
  width: 64px;
}

span.tag.badge {
  color: black;
  font-size: 13px;
}

span.tag.badge-info {
  background-color: #b0b0ff;
}

span.negative + label span.tag.badge-info {
  background-color: #ffb0b0;
}

span.tag.matched {
  background-color: #b0b0ff;
}

span.tag.required {
  background:color: #f0f0f0;
}

span.tag.shopping-list {
  background-color: #b0ffb0;
}

span.tag.purchased {
  background-color: white;
}

#recipes-container span.pagination-info {
  display: none;
}

#recipes-container span.page-list {
  display: none;
}

#recipes-container li.page-item a {
  z-index: 0;
}

div.fixed-table-body {
  padding: 1px;
}

#recipes-container table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

#recipes-container tr:hover {
  background-color: inherit;
}

#recipes-container tr {
  outline: thin solid rgba(0, 0, 0, 0.125);
}

#recipes-container th, #recipes-container td {
  border: none;
}

#recipes-container th:first-child, #recipes-container td:first-child {
  width: 200px;
}

#recipes-container .metadata {
  font-size: 12px;
}

#recipes-container .metadata img {
  max-width: 192px;
}

#recipes-container .metadata span {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#sidebar button.pullout {
  position: fixed;
  right: 10px;
  top: 45%;
}

#shopping-list-card {
  display: block;
  position: fixed;
  top: 1rem;

  width: 300px;
  height: calc(100vh - 2rem);

  right: -280px;
  animation: slide-right 0.4s;
}

@keyframes slide-right {
  from { right: 8px; }
  to { right: -280px; }
}

#shopping-list-card.active {
  right: 8px;
  animation: slide-left 0.4s;
}

@keyframes slide-left {
  from { right: -280px; }
  to { right: 8px; }
}

#sidebar div.content {
  clear: both;
  margin-top: 2.5rem;

  height: calc(100% - 2rem);
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
}

#sidebar div.title {
  float: left;
}

#sidebar button.close {
  float: right;
  right: 10px;
}

#shopping-list-recipes {
  padding: 4px;
  font-size: 13px;
}

#shopping-list-recipes ul {
  list-style: none;
  padding-left: 0;
}

#shopping-list-recipes a.remove {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-right: 0.5em;
}

#shopping-list-products ul {
  padding-left: 22px;
}

/* accessibility overrides: contrast workarounds for Bootstrap */
body a {
  /* bootstrap: color: #007bff; */
  color: #05d;
}

button.btn-primary {
  /* bootstrap: background-color: #007bff; */
  background-color: #0069d9;
}

button.btn-primary:hover {
  /* bootstrap: background-color: #0069d9; */
  background-color: #0057b7;
}

button.btn-outline-primary {
  /* bootstrap: color: #007bff; */
  color: #0069d9;
  /* bootstrap: border-color: #007bff; */
  border-color: #0069d9;
}

li.page-item a {
  /* bootstrap: color: #007bff; */
  color: #0069d9;
}
/* end accessibility overrides */
