input, .bootstrap-tagsinput {
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: none;
  margin: 4px;
  padding: 8px;
}

.bootstrap-tagsinput input {
  width: 64px;
}

span.tag.badge {
  color: black;
  font-size: 13px;
}

span.tag.badge-info {
  background-color: #b0b0ff;
}

span.tag.badge-exclude {
  background-color: #ffb0b0;
}

span.tag.matched {
  background-color: #b0b0ff;
}

span.tag.required {
  background:color: #f0f0f0;
}

span.tag.shopping-list {
  background-color: #b0ffb0;
}

span.tag.purchased {
  background-color: white;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

body a {
  color: #05d;
}

#recipes-container span.pagination-info {
  display: none;
}

#recipes-container span.page-list {
  display: none;
}

#recipes-container li.page-item a {
  z-index: 0;
}

div.fixed-table-body {
  padding: 1px;
}

#recipes-container table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

#recipes-container tr:hover {
  background-color: inherit;
}

#recipes-container tr {
  outline: thin solid rgba(0, 0, 0, 0.125);
}

#recipes-container td {
  border: none;
}

#recipes-container th {
  border: none;
}

#recipes-container th.image, td.image {
  width: 200px;
}

#recipes-container table.metadata {
  border-collapse: collapse;
  font-size: 12px;
}

#recipes-container table.metadata tr {
  outline: none;
}

#recipes-container table.metadata th {
  padding: 0;
}

#recipes-container table.metadata span {
  white-space: nowrap;
}

#sidebar button.pullout {
  position: fixed;
  right: 10px;
  top: 45%;
}

#shopping-list-card {
  display: block;
  position: fixed;
  top: 1rem;
  height: calc(100vh - 2rem);

  right: -280px;
  width: 300px;

  animation: slide-right 0.4s;
}

@keyframes slide-right {
  from { right: 8px; }
  to { right: -280px; }
}

#shopping-list-card.active {
  right: 8px;
  width: 300px;

  animation: slide-left 0.4s;
}

@keyframes slide-left {
  from { right: -280px; }
  to { right: 8px; }
}

#sidebar div.content {
  height: calc(100% - 2rem);
  overflow-x: auto;
  overflow-y: auto;
}

#sidebar div.title {
  float: left;
}

#sidebar button.close {
  float: right;
  right: 10px;
}

#shopping-list-recipes {
  padding: 4px;
  font-size: 13px;
}

#shopping-list-recipes ul {
  list-style: none;
  padding-left: 0;
}

#shopping-list-recipes a.remove {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-right: 0.5em;
}

#shopping-list-products {
  white-space: nowrap;
}

#shopping-list-products ul {
  padding-left: 22px;
}

/* accessibility overrides: contrast workarounds for Bootstrap */
button.btn-primary {
  /* bootstrap: background-color: #007bff; */
  background-color: #0069d9;
}

button.btn-primary:hover {
  /* bootstrap: background-color: #0069d9; */
  background-color: #0057b7;
}

li.page-item a {
  /* bootstrap: color: #007bff; */
  color: #0069d9;
}
/* end accessibility overrides */
