#search div.prompt {
  margin-top: 1rem;
  margin-left: 2rem;
}
#search div.prompt span.positive { color: green; }
#search div.prompt span.negative { color: maroon; }

#search .results a {
  font-size: 1rem;
}
#search .results button,
#search .results td {
  font-size: 12px;
}

#search .results span.pagination-info {
  display: none;
}

#search .results span.page-list {
  display: none;
}

#search .results li.page-item a {
  z-index: 0;
}

#search .results .fixed-table-body {
  padding: 1px;
}

#search .results table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

#search .results tr:hover {
  background-color: inherit;
}

#search .results tr {
  outline: thin solid rgba(0, 0, 0, 0.125);
}

#search .results th,
#search .results td {
  border: none;
}

#search .results th:first-child,
#search .results td:first-child {
  width: 200px;
}

#search .results .metadata img {
  max-width: 192px;
}

#search .results .metadata span {
  display: inline-block;
  margin-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#search .results .metadata button {
  width: 192px
}

#search .results .content img {
  width: 24px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
