#shopping-list .hints {
  font-size: 11px;
  color: dimgray;
  margin-bottom: 1rem;
}

#shopping-list .recipes {
  margin-bottom: 1rem;
  padding: 4px;
  font-size: 13px;
}

#shopping-list .recipes a.remove {
  color: red;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-right: 0.5em;
}

#shopping-list .products label {
  display: block;
  width: 240px;
  margin: 3px;
  line-height: 1rem;
  font-size: 12px;
}
#shopping-list .products label input {
  margin-right: 4px;
  vertical-align: middle;
}
#shopping-list .products span[data-role="remove"]::after {
  color: red;
  content: '\00D7';
}
#shopping-list .products span[data-role="remove"] {
  float: right;
  vertical-align: middle;
  font-weight: bold;
}

#shopping-list .entry {
  margin-top: 1rem;
}
#shopping-list .entry span.prompt,
#shopping-list .entry label {
  font-size: 12px;
}

#shopping-list .bootstrap-tagsinput input {
  width: 200px;
}
